:root {
  --lightgray: #eee;
  --border: #ddd;
  --darkgray: #888;
  --banner: rgb(182, 195, 221);
  --navy: rgb(20, 51, 107);
  --navy-hover: rgb(31, 63, 122);
}

@font-face {
  font-family: 'fugaz';
  src: url('/FugazOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.home img {
  height: 1100px;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  font-weight: 600;
  color: var(--banner);
}

.products {
  margin: 50px 100px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  text-align: left;
  font-weight: 500;
  font-size: 1.3em;
  margin: 0 auto;
}

.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}
