.card {
  width: 300px;
  height: 400px;
  margin: 30px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.info {
  text-align: start;
  font-size: 14px;
}

.info p {
  color: gray;
}

.add {
  border: 1px solid black;
  width: 100%;
  padding: 15px;
  margin-top: 5px;
}
.add:hover {
  background-color: var(--lightgray);
}
