footer {
  background-color: #eee;
}

.footer {
  display: flex;
  min-width: 100%;
  justify-content: space-evenly;
  text-align: left;
  font-size: 12px;
  padding: 3em;
}

.footer * {
  padding: 0.6em;
}

.signup input {
  min-width: 300px;
  padding: 10px;
  border: none;
}
input[type='email']:focus {
  border: none;
  outline: none;
}

.signup button {
  background-color: rgb(20, 51, 107);
  color: white;
  padding: 10px 20px;
}

.copyright {
  font-size: 0.7em;
  padding: 1.5em;
}
